html {
    font-family: 'Overpass Mono', monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: skyblue;
	overflow-x: hidden;
}


/* TOPPER SECTION ------------------------------ */

.topper {
	position: absolute;
	text-align: center;
	background-image: url(../images/cs-top.png);
	background-size: 100vw auto;
	top: 0;
	left: 0;
	height: 80vh;
	width: 100vw;
	z-index: 1;
}
.topper h1 {
	font-size: 150px;
	font-weight: bold;
	letter-spacing: -3px;
	line-height: 100%;
	transform: scaleX(1.1);
	color: white;
	margin-top: 20vh;
}
#cs-top h1 {
	margin-top: 10vh;
}
.topper h2 {
	font-size: 40px;
	font-style: italic;
	letter-spacing: -1px;
	color: gray;
	margin: -5vh 20vh 0 20vh;
}
.topper p {
	font-size: 25px;
	letter-spacing: -1px;
	color: white;
	margin: 2vh 20vh 0 20vh;
}

a {
	position: absolute;
	top: 70vh;
	left: 45vw;
	width: 10vw;
	height: 10vh;
	z-index: 2;
}
a img {
	max-width: 100%;
	max-height: 100%;
}
a[id= "scroll-btn" ]:target ~ div.content {
-webkit-transform: translateY( 0px);
transform: translateY( 0px );
}



/* CONTENT SECTION ------------------------------- */

.content {
	
-webkit-transform: translateZ( 0 );
transform: translateZ( 0 );
-webkit-transition: -webkit-transform 0.6s ease-in-out;
transition: transform 0.6s ease-in-out;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.section {
	position: absolute;
	height: 70vh;
	width: 100vw;
	font-size: 0; /* remove space between sub-sections */
}
.section h1 {
	z-index: 3;
}


/* Work Experience ------------- */

#work-experience {
	background-color: white;
	top: 80vh;
}


/* Personal Projects ------------- */

#personal-projects {
	background-color: gray;
	top: 150vh;
}


/* Research ------------- */

#personal-projects {
	background-color: white;
	top: 220vh;
}




/* SUB-SECTION ------------------------------- */

.sub-section {
	position: relative;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	max-width: 20%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: 2;
	overflow: hidden;
	transition: max-width .6s;
}
input[type="radio"]:checked + .sub-section {
	max-width: 60%;
}
.width-control {
	position: relative;
	top: 0;
	left: 0;
	width: 2200px;
	height: 30%;
	opacity: 0;
}
.sub-content {
	position: relative;
	width: 90%;
	height: 0%;
	left: 5%;
	top: -20%;
	background-color: white;
	transition: all .6s;
	margin-top: 60%;
}
input[type="radio"]:checked + .sub-section .sub-content {
	height: 60%;
	margin-top: 0;
}
input[type="radio"] {
	display: none;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
label {
	position: absolute;
	background-color: blue;
	overflow: hidden;
	font-size: 20px;
	height: 10%;
	width: 50%;
	text-align: center;
	z-index: 3;
	top: 50%;
	left: 25%;
	opacity: 1;
	cursor: pointer;
	transition: all .6s;
}
input[type="radio"]:checked + .sub-section label {
	height: 0;
	top: 20%;
}
.sub-section h2 {
	position: relative;
	top: 40%;
	transition: top .6s;
}
input[type="radio"]:checked + .sub-section h2 {
	top: 10%;
}

#raytheon {
	background-color: green;
	float: left;
}
#ray-content {
	width
}

#microsoft {
	background-color: yellow;
	
}
#mic + label {
	left: 40%;
}
#reinventing-geospatial {
	background-color: green;
	float: right;
}
#rgi + label {
	left: 70%;
}







